    label {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
    }
    
    body {
        background-image: linear-gradient( 115deg, rgba(166, 166, 231, 0.685), rgba(57, 57, 236, 0.452)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
        background-position: center;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        line-height: 1.4;
    }
    
    form {
        padding: 20px 50px 20px;
        margin: 1em 10em 10em;
        background: rgba(13, 13, 14, 0.336);
        color: white;
        border-radius: 5px;
    }
    
    .form-gruop {
        margin: 0 auto 1.25rem auto;
        padding: 0.25rem;
    }
    
    header {
        text-align: center;
        display: block;
    }
    
    @media (max-width: 800px) {
        form {
            padding: 1em;
            margin: 2em auto 2em;
        }
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: 2.375rem;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .input-radio,
    .input-checkbox {
        display: inline-block;
        margin-right: 0.625rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
    }
    
    input,
    button,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    
    .submit-button {
        display: block;
        width: 100%;
        padding: 0.75rem;
        background: #37af65;
        color: inherit;
        border-radius: 2px;
        cursor: pointer;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }